<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<p>Pokemon:</p> 
	<ul>
		<% if @trainer.pokemons == [] %>
			<div> They don't have Pokemon in their party! </div>
		<% else %>
			<% @trainer.pokemons.each do |pokemon| %>
				<li> <%= pokemon.name %>: level <%= pokemon.level %> </li>
			<% end %>
		<% end %>
	</ul>
